<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sing.css}" />
</head>
<body>
<div class="page">
    <div class="form">
        <form class="login-form" th:method="POST" th:action="@{/login/}" th:object="${user}">
            <label>
                <input type="text" placeholder="login" th:field="*{login}"/>
            </label>
            <label>
                <input type="password" placeholder="password" th:field="*{password}"/>
            </label>
            <button>LOG IN</button>
            <p class="message"><a th:href="@{/register/}">Register</a></p>
        </form>
    </div>
</div>
</body>
</html>